body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-nav {
  background-color: #f2f2f2;
  padding: 30px 0;
}
.main-nav > .list {
  padding: 0;
  margin: 0 0 0 auto;
  list-style-type: none;
  display: flex;
  width: 300px;
  justify-content: space-around;
}
.main-nav > .list a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.container-login {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-login h1 {
  font-size: 32px;
}
.container-login .row {
  width: 100%;
  padding: 0 25px;
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container-login .row label {
  margin-right: 15px;
  font-size: 24px;
  width: 150px;
  font-family: Arial, Helvetica, sans-serif;
}
.container-login .row .field {
  width: 200px;
  font-size: 18px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px 10px;
}
.button {
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  color: #000;
  font-size: 24px;
  text-align: center;
  border-radius: 10px;
  width: 150px;
  height: 50px;
}
/* .button:focus {
  outline: none;
} */

@media screen and (max-width: 769px) {
  .container-login {
    width: calc(100% - 20px);
    padding: 0 20px;
    align-items: flex-start;
  }
  .container-login .row {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .container-login .row label {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .container-login .row .field {
    width: 90%;
  }
}